<div class="background">
  <div class="container">
    <div class="row py-3">
      <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 item-centered">
        <app-volume-cover
          [detailedView]="true"
          [volume]="volume"
        ></app-volume-cover>
      </div>
      <div class="col-12 col-sm-6 col-md-7 col-lg-8 col-xl-9 text-white">
        <div class="mb-2">
          <h3>{{ volume?.volumeInfo?.title }}</h3>
          <p class="mb-0">{{ volume?.volumeInfo?.subtitle }}</p>
        </div>
        <div
          class="mb-2 d-flex align-items-center"
          *ngIf="volume?.volumeInfo?.averageRating"
        >
          <img
            src="../../../../../assets/star.svg"
            alt="No image..."
            style="width: 1rem"
          />
          <span class="fw-bold ms-1">
            {{ volume?.volumeInfo?.averageRating }}
          </span>
        </div>
        <hr />
        <app-display-list-items
          header="Author(s)"
          [displayList]="volume?.volumeInfo?.authors"
        >
        </app-display-list-items>
        <app-display-list-items
          header="Category/Categories"
          [displayList]="volume?.volumeInfo?.categories"
        >
        </app-display-list-items>
        <app-display-item
          header="Publisher"
          [displayItem]="volume?.volumeInfo?.publisher"
        >
        </app-display-item>
        <app-display-item
          header="Publish date"
          [displayItem]="volume?.volumeInfo?.publishedDate"
        >
        </app-display-item>
        <app-display-item
          header="Page count"
          [displayItem]="volume?.volumeInfo?.pageCount"
        >
        </app-display-item>
        <div class="mb-2">
          <span>ISBN codes:</span>
          <ul
            class="mb-0 text-gray"
            *ngFor="let identifier of volume?.volumeInfo?.industryIdentifiers"
          >
            <li>{{ identifier.type }}: {{ identifier.identifier }}</li>
          </ul>
        </div>
        <app-display-item
          *ngIf="volume?.saleInfo?.retailPrice?.amount"
          header="Price"
          [displayItem]="
            volume?.saleInfo?.retailPrice?.amount +
            ' ' +
            volume?.saleInfo?.retailPrice?.currencyCode
          "
        ></app-display-item>
        <div class="mt-2">
          <button
            *ngIf="volume?.volumeInfo?.infoLink"
            (click)="onLinkOpen(volume?.volumeInfo?.infoLink)"
            class="button-secondary mb-2 me-0 me-md-2"
          >
            Get info
          </button>
          <button
            class="button-main mb-2"
            *ngIf="
              volume?.saleInfo?.saleability === saleStatus.forSale &&
              volume?.saleInfo?.buyLink
            "
            (click)="onLinkOpen(volume?.saleInfo?.buyLink)"
          >
            Order
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-loader></app-loader>
<div class="container mt-3" *ngIf="volume?.volumeInfo?.description">
  <h5>Description:</h5>
  <p class="description-text">{{ volume?.volumeInfo?.description }}</p>
</div>
