@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./colors.scss";

@mixin button-base($color, $bg-color, $border: none) {
  @extend .btn, .btn-sm, .px-4, .py-2;
  width: 100%;
  color: $color;
  background-color: $bg-color;
  border: $border;
}

.button-main {
  @include button-base($_white, $_main);
  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(71, 56, 203, 0.45) !important;
    color: $_white;
  }
  &:hover {
    background-color: lighten($_main, 2%);
    color: $_white;
  }
}

.button-search-reset {
  @include button-base($_black, $_white);
  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(240, 240, 241, 0.25) !important;
  }
  &:hover {
    background-color: lighten($_white, 5%);
  }
}

.button-reset {
  @include button-base($_main, transparent, $_main 2px solid);
}

@media (min-width: map-get($grid-breakpoints, sm)) {
  .button-search-reset,
  .button-main,
  .button-reset {
    width: 10rem;
  }
}
