@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";
@import './colors.scss';

.button-base {
  @extend .btn;
  @extend .btn-sm;
  @extend .px-4;
  @extend .py-2;
}

.button-search {
  @extend .button-base;
  color: $_white;
  background-color: $_main;
  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(71, 56, 203, 0.45) !important;
    color: $_white;
  }
  &:hover {
    background-color: lighten($_main, 2%);
    color: $_white;
  }
}

.button-search-reset {
  @extend .button-base;
  background-color: $_white;
  color: $_black;
  &:hover {
    background-color: lighten($_white, 5%);
  }
  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(240, 240, 241, 0.25) !important;
  }
}

.button-primary {
  @extend .button-base;
  color: $_white;
  background-color: $_main;
}

.button-secondary {
  @extend .button-base;
  background-color: transparent;
  border: $_main 2px solid;
  color: $_main;
}
