@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";
@import './colors.scss';

.text-white {
  color: $_white;
}

.text-gray {
  color: $_gray;
  @extend .fst-italic;
}

.text-dark-gray {
  color: $_dark-gray;
}

.background {
  background-color: $_dark-purple;
}
