@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./colors.scss";

.text-white {
  color: $_white;
}

.background {
  background-color: $_dark-purple;
}

.c-pointer {
  cursor: pointer;
}

.text-gray {
  color: $_gray;
  font-style: italic;
}

.item-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
