$_white: #f0f0f1;
$_gray: #e0e0e0;
$_dark-gray: #a8a8a8;
$_light-gray: #eeecec;
$_black: #222222;
$_blue: #5496ec;
$_purple: #4738cb;
$_dark-purple: #25294a;
$_shadow-purple: 0 0 0 0.25rem rgba(71, 56, 203, 0.45);
$_shadow-blue: 0 0 0 0.25rem rgba(84, 56, 150, 0.45);
$_shadow-gray: 0 0 0 0.25rem rgba(240, 240, 241, 0.25);
