// Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";
// Global
@import "app/shared/styles/base.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
