<ng-container *ngIf="volumeInfo">
  <h6 class="h-40px my-2">
    {{ volumeInfo.title | truncate: 45 }}
  </h6>

  <div class="h-56px custom-scrollbar">
    <app-book-list-items [items]="volumeInfo.categories">
      Categories:
    </app-book-list-items>
  </div>
  <div class="h-56px custom-scrollbar">
    <app-book-list-items [items]="volumeInfo.authors">
      Author(s):
    </app-book-list-items>
  </div>
  <hr class="mb-1" />
  <div class="h-40px item-centered c-pointer" (click)="onDetailButtonClick()">
    Book detail
  </div>
</ng-container>
