<ng-container *ngIf="volumeInfo">
  <h6 class="h-40px my-2">
    {{ volumeInfo.title | truncateText : 45 }}
  </h6>

  <div class="h-56px">
    <app-book-list-items [items]="volumeInfo.categories" />
    Categories:
  </div>
  <div class="h-56px">
    <app-book-list-items [items]="volumeInfo.authors" />
    Author(s):
  </div>
  <hr class="mb-1" />
  <div
    class="h-40px d-flex align-items-center justify-content-center c-pointer"
    (click)="onDetailButtonClick()"
  >
    Book detail
  </div>
</ng-container>
