<div class="background detail-content" *ngIf="volume">
  <div class="container">
    <div class="row py-3">
      <app-book-cover
        class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 item-centered"
        [detailedView]="true"
        [imageLinks]="volume.volumeInfo.imageLinks"
      ></app-book-cover>
      <div class="col-12 col-sm-6 col-md-7 col-lg-8 col-xl-9">
        <div class="my-2 mt-sm-0">
          <h3 class="header">{{ volume.volumeInfo.title }}</h3>
          <p class="mb-0">{{ volume.volumeInfo.subtitle }}</p>
        </div>
        <div
          class="mb-2 d-flex align-items-center"
          *ngIf="volume.volumeInfo.averageRating"
        >
          <img
            src="../../../../../assets/star.svg"
            alt="No image..."
            class="star-image"
          />
          <span class="fw-bold ms-1">
            {{ volume.volumeInfo.averageRating }}
          </span>
        </div>
        <hr />
        <app-book-list-items [items]="volume.volumeInfo.authors">
          Author(s):
        </app-book-list-items>

        <app-book-list-items [items]="volume.volumeInfo.categories">
          Category/Categories:
        </app-book-list-items>

        <div class="mb-2" *ngIf="volume.volumeInfo.publisher">
          Publisher:
          <span class="text-gray ms-1">{{ volume.volumeInfo.publisher }}</span>
        </div>

        <div class="mb-2" *ngIf="volume.volumeInfo.publishedDate">
          Publish date:
          <span class="text-gray ms-1">{{
            volume.volumeInfo.publishedDate
          }}</span>
        </div>

        <div class="mb-2" *ngIf="volume.volumeInfo.pageCount">
          Page count:
          <span class="text-gray ms-1">{{ volume.volumeInfo.pageCount }}</span>
        </div>

        <div class="mb-2">
          <span>ISBN codes:</span>
          <ul
            class="mb-0 text-gray"
            *ngFor="let identifier of volume.volumeInfo.industryIdentifiers"
          >
            <li>{{ identifier.type }}: {{ identifier.identifier }}</li>
          </ul>
        </div>

        <div class="mb-2" *ngIf="bookPrice">
          Price:
          <span class="text-gray ms-1">{{ bookPrice }}</span>
        </div>

        <div class="mt-3">
          <button
            *ngIf="volume.volumeInfo.infoLink"
            (click)="onLinkOpen(volume.volumeInfo.infoLink)"
            class="button-secondary mb-2 me-0 me-md-2"
          >
            Get info
          </button>
          <button
            class="button-main mb-2"
            *ngIf="
              volume.saleInfo.saleability === forSaleIdentifier &&
              volume.saleInfo.buyLink
            "
            (click)="onLinkOpen(volume.saleInfo.buyLink)"
          >
            Order
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
