<div class="background c-white" *ngIf="bookItem">
  <div class="container py-3">
    <div class="detail-image-container">
      <app-book-cover [imageLinks]="bookItem.volumeInfo.imageLinks" />
    </div>

    <div class="my-2">
      <h3>{{ bookItem.volumeInfo.title }}</h3>
    </div>
    <div
      class="mb-2 d-flex align-items-center"
      *ngIf="bookItem.volumeInfo.averageRating"
    >
      <img
        src="../../../../../assets/star.svg"
        alt="No image..."
        class="star-image"
      />
      <span class="fw-bold ms-1">
        {{ bookItem.volumeInfo.averageRating }}
      </span>
    </div>
    <hr />

    <div class="mb-2">
      <app-book-list-items [items]="bookItem.volumeInfo.authors" />
      Author(s):
    </div>

    <div class="mb-2">
      <app-book-list-items [items]="bookItem.volumeInfo.categories" />
      Category/Categories:
    </div>

    <div class="mb-2">
      Language:
      <span class="c-gray ms-1">{{ bookItem.volumeInfo.language }}</span>
    </div>

    <div class="mb-2">
      Publisher:
      <span class="c-gray ms-1">{{ bookItem.volumeInfo.publisher }}</span>
    </div>

    <div class="mb-2">
      Publish date:
      <span class="c-gray ms-1">{{ bookItem.volumeInfo.publishedDate }}</span>
    </div>

    <div class="mb-2">
      Page count:
      <span class="c-gray ms-1">{{ bookItem.volumeInfo.pageCount }}</span>
    </div>

    <div class="mb-2" *ngIf="bookPrice">
      Price:
      <span class="c-gray ms-1">{{ bookPrice }}</span>
    </div>

    <div class="mt-3">
      <button
        *ngIf="bookItem.volumeInfo.infoLink"
        (click)="onExternalLinkOpen(bookItem.volumeInfo.infoLink)"
        class="btn btn-sm btn-secondary px-4 py-2 mb-2 me-0 me-2"
      >
        Get info
      </button>
      <button
        class="btn btn-sm btn-primary px-4 py-2 mb-2"
        *ngIf="
          bookItem.saleInfo.saleability === SALE_IDENTIFIER &&
          bookItem.saleInfo.buyLink
        "
        (click)="onExternalLinkOpen(bookItem.saleInfo.buyLink)"
      >
        Order
      </button>
    </div>
  </div>
</div>
