<div class="bg-overlay">
  <div class="container">
    <div
      class="d-flex flex-column justify-content-center align-items-center min-bg-height"
    >
      <div class="card login-box">
        <div class="card-body d-flex flex-column align-items-center m-3">
          <h2 class="mb-3">Log In</h2>
          <p class="text-center mb-4">
            Welcome to our web application! To continue, please log in with your
            Google account.
          </p>
          <button
            class="btn btn-outline-primary px-5"
            (click)="requestAccessToken()"
          >
            <div class="d-flex align-items-center justify-content-center">
              <img src="assets/google-logo.png" class="google-logo-icon me-2" />
              Log In with Google
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
