.login-box {
  max-width: 500px;
}

.google-logo-icon {
  width: 20px;
}

.bg-overlay {
  background: linear-gradient(rgba(71, 56, 203, 0.3), rgb(37, 41, 74, 0.7)),
    url("../../../../assets/library-bg.jpg");
}
