<div class="container">
  <h3 class="mb-3">Favorite books</h3>
  <div *ngIf="books">
    <div *ngIf="!books?.length; else collectionNotEmpty" class="mt-4">
      You have no added books in your "favorite" collection. Go to the search
      page and start adding books!
    </div>
    <ng-template #collectionNotEmpty>
      <app-book-card-list
        [bookItems]="books"
        (updateFavoriteShelf)="onRemoveFromFavoriteById($event)"
      ></app-book-card-list>
    </ng-template>
  </div>
</div>
<app-loader></app-loader>
