@import "../../../../../../shared/styles/base.scss";

.card-cover-image {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border: 0.3rem solid $dark-purple;
}

.card-content {
  min-height: 8rem;
}
