@import "../../../../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../../shared/styles/colors.scss";

.card {
  background-color: $_dark-purple;
  min-height: 25rem;
}

@mixin book-base($height: 2.5rem) {
  display: block;
  height: $height;
}

.book-header {
  @include book-base();
  color: $_white;
}

.book-category {
  @include book-base(3rem);
}

.book-authors {
  @include book-base(3.5rem);
  overflow-y: auto;
}

.book-redirect {
  @include book-base();
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: $_white;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: $_light-gray;
  &::-webkit-scrollbar {
    width: 0.325rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(240, 240, 241, 0.315);
    border-radius: 1.35rem;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, xl)) {
  .book-authors {
    height: 4.5rem;
  }
}
