<div class="card p-1">
  <div
    class="card-image-container w-100"
    [routerLink]="['/book-detail', volumeId]"
  >
    <img
      [src]="
        volumeInfo?.imageLinks?.thumbnail ||
        volumeInfo?.imageLinks?.smallThumbnail ||
        imagePlaceholder
      "
      alt="No image"
      class="card-image w-100 h-100"
    />
    <div class="card-image-overlay"></div>
  </div>
  <div class="card-content-container">
    <h6 class="text-white my-2 book-header">
      {{ volumeInfo?.title | truncate: 45 }}
    </h6>
    <div class="mb-1 book-category">
      <span class="me-1 text-white">Category:</span>
      <span class="fst-italic text-gray">{{ firstCategory }}</span>
    </div>
    <div class="mb-1 book-authors custom-scrollbar">
      <span class="me-1 text-white">Author(s):</span>
      <span
        *ngFor="let author of authors; let i = index"
        class="text-gray fst-italic"
      >
        {{ author }}
        <span class="" *ngIf="authors.length === 2 && i === 0">,</span>
      </span>
    </div>
    <!-- TODO - Link styling -->
    <hr class="text-gray my-2">
    <div class="book-redirect">
      <a href="#">More info</a>
    </div>
  </div>
</div>
