<div class="card p-1">
  <app-volume-cover
    [volume]="volume"
    (click)="navigateToBookDetail(volume?.id)"
  ></app-volume-cover>
  <div class="text-white">
    <h6 class="my-2 book-header">
      {{ volume?.volumeInfo?.title | truncate: 45 }}
    </h6>
    <div class="book-category">
      <app-display-list-items
        header="Category:"
        [list]="volume?.volumeInfo?.categories"
        [itemsCount]="1"
      ></app-display-list-items>
    </div>
    <div class="book-authors custom-scrollbar">
      <app-display-list-items
        header="Author(s):"
        [list]="volume?.volumeInfo?.authors"
        [itemsCount]="2"
      ></app-display-list-items>
    </div>
    <hr class="my-2" />
    <div class="book-redirect">
      <span
        (click)="navigateToBookDetail(volume?.id)"
        style="cursor: pointer;"
        >Book detail</span
      >
    </div>
  </div>
</div>
