@import "../../../../shared/styles/colors.scss";
@import "../../../../shared/styles/classes.scss";

.card {
  background-color: $_bg;
  min-height: 25rem;
}

.card-image-container {
  position: relative;
  height: 15rem;
  cursor: pointer;
}

.card-image {
  object-fit: cover;
}

.card-image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.2s ease all;
  background-color: $_main;
}

.card-image-overlay:hover {
  opacity: 0.2;
}

.book-base {
  display: block;
}

.book-header {
  @extend .book-base;
  height: 2.5rem;
}

.book-category {
  @extend .book-base;
  height: 3rem;
}

.book-authors {
  @extend .book-base;
  height: 3.5rem;
  overflow-y: auto;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: $_light-gray;
  &::-webkit-scrollbar {
    width: 0.325rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(240, 240, 241, 0.315);
    border-radius: 1.35rem;
  }
}


@media screen and (max-width: map-get($grid-breakpoints, xl)) {
  .book-authors {
    height: 4.5rem;
  }
}
