<form
  [formGroup]="dataFormGroup"
  (ngSubmit)="onSearch()"
  (keyup.enter)="onSearch()"
>
  <div class="form-group">
    <div class="mb-2 mt-2">
      <label class="text-white">Search term</label>
      <input
        type="text"
        [ngClass]="q?.invalid && (q?.dirty || q?.touched) ? 'is-invalid-border' : ''"
        class="form-control-primary"
        formControlName="q"
      />
      <div
        class="is-invalid-text"
        *ngIf="q?.invalid && (q?.dirty || q?.touched)"
      >
        Please fill this field
      </div>
    </div>
    <div class="mb-2">
      <label class="text-white">Select category</label>
      <select class="form-control-primary" formControlName="subject">
        <option *ngFor="let c of categories" [ngValue]="c">{{ c }}</option>
      </select>
    </div>
    <div class="mb-3">
      <label class="text-white">Sorting by</label>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          formControlName="orderBy"
          value="relevance"
          name="orderBy"
        />
        <label class="form-check-label text-white"> Relevance </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          formControlName="orderBy"
          value="newest"
          name="orderBy"
        />
        <label class="form-check-label text-white"> Newest </label>
      </div>
      <div
        class="text-white"
        *ngIf="orderBy?.invalid && orderBy?.value === null"
      >
        Please choose at least one option
      </div>
    </div>
    <div class="mb-2">
      <button
        type="button"
        class="button-search-reset me-2"
        (click)="onReset()"
      >
        Reset
      </button>
      <button type="submit" class="button-search">Search books!</button>
    </div>
  </div>
</form>
