@import "../../../../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../../shared/styles/colors.scss";

.invalid {
  color: $red;
}

.form-check-input {
  &:checked {
    border-color: $_purple;
    background-color: $_purple;
  }
  &:focus {
    box-shadow: $_dark-purple;
  }
}

.form-control-primary {
  @extend .form-control, .form-control-sm;
  &:focus {
    box-shadow: $_dark-purple !important;
  }
}
