<form
  [formGroup]="dataFormGroup"
  (ngSubmit)="onSearch()"
  (keyup.enter)="onSearch()"
>
  <div class="form-group">
    <div class="mb-2">
      <label class="text-white me-1">Search</label>
      <span class="is-invalid-text">*</span>
      <input
        type="text"
        [ngClass]="q?.invalid && (q?.dirty || q?.touched) ? 'is-invalid' : ''"
        class="form-control-primary"
        formControlName="q"
      />
      <div
        class="is-invalid-text"
        *ngIf="q?.invalid && (q?.dirty || q?.touched)"
      >
        Please fill this field
      </div>
    </div>
    <div class="mb-2">
      <label class="text-white">Category</label>
      <select class="form-control-primary" formControlName="subject">
        <option *ngFor="let c of categories" [ngValue]="c">{{ c }}</option>
      </select>
    </div>
    <div class="mb-3">
      <label class="text-white">Sorting by</label>
      <div class="form-check">
        <input
          class="form-control-checkbox"
          type="radio"
          formControlName="orderBy"
          value="relevance"
          name="orderBy"
        />
        <label class="form-check-label text-white"> Relevance </label>
      </div>
      <div class="form-check">
        <input
          class="form-control-checkbox"
          type="radio"
          formControlName="orderBy"
          value="newest"
          name="orderBy"
        />
        <label class="form-check-label text-white"> Newest </label>
      </div>
    </div>
    <div class="d-sm-flex">
      <button
        type="button"
        class="button-search-reset me-0 me-sm-2 mb-2 mb-sm-0"
        (click)="onReset()"
      >
        Reset
      </button>
      <button type="submit" class="button-main">Search books!</button>
    </div>
  </div>
</form>
