@import "../../shared/style-elements.scss";

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.loader {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
