@import '../../../../shared/styles/colors.scss';

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  gap: 1rem;
}

.books-search {
  background-color: $_bg;
}
