<div class="background">
  <div class="container">
    <div class="py-2">
      <app-books-search
        (volumesEmmiter)="getVolumes($event)"
      ></app-books-search>
    </div>
  </div>
</div>
<div class="container">
  <app-loader></app-loader>
  <div class="mt-4">
    <div *ngIf="volumesCount === 0">Your search did not return any results</div>
    <div *ngIf="volumesCollection?.length">
      <div class="mb-3">
        <h4>Search results for "{{ searchTerm }}"</h4>
        Showing {{ volumesCount }} results
      </div>
      <div class="cards-grid">
        <app-book-card
          *ngFor="let item of volumesCollection"
          [volume]="item"
        ></app-book-card>
      </div>
      <div class="d-sm-flex justify-content-sm-end my-4">
        <button
          type="button"
          class="button-reset me-2 mb-2 mb-sm-0"
          (click)="onResetResults()"
        >
          Reset
        </button>
        <button class="button-main" (click)="onMoreResults()">
          More results
        </button>
      </div>
    </div>
  </div>
</div>
