<div class="bg books-search">
  <div class="container">
    <div class="px-2 py-1">
      <app-books-search
        (volumesEmmiter)="getVolumes($event)"
        (volumesCount)="getVolumesCount($event)"
        (searchTerm)="getSearchTerm($event)"
      ></app-books-search>
    </div>
  </div>
</div>
<div class="container">
  <div class="mt-4 px-2 py-1">
    <app-loader
      *ngIf="booksSearchReference?.isLoading || isLoading"
    ></app-loader>
    <div *ngIf="showVolumes">
      <h4 class="mb-1">Search results for "{{ searchTerm }}"</h4>
      <div *ngIf="volumesCount == 0" class="mb-2">Your search did not return any results</div>
      <div *ngIf="volumesCount > 0" class="mb-2">Showing {{ volumesCount }} results</div>
      <div class="cards-grid">
        <app-book-card
          *ngFor="let item of volumesCollection"
          [volumeInfo]="item.volumeInfo"
          [volumeId]="item.id"
        ></app-book-card>
      </div>
      <div class="d-flex justify-content-end align-items-center mt-3 mb-3" *ngIf="volumesCount > 0">
        <button class="button-secondary me-2" (click)="onResetResults()">
          Reset
        </button>
        <button class="button-primary" (click)="onMoreResults()">
          More results
        </button>
      </div>
    </div>
  </div>
</div>
